/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 27, 2018, 11:42:02 AM
    Author     : Jason Cao
*/

.root{
    /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    */
    -swatch-neutral:        #E6E6E6;
    -swatch-primary-up:     #A8C0AD;
    -swatch-primary:        #C9E0CD;
    -swatch-primary-down:   #E9E0ED;
    -swatch-complement:     #E1E4CB;
    -swatch-accent:         #227722;
    -swatch-bright-accent:  #d84533;
    
    -fx-font-family: "Roboto";
}
/** 
    FIRST WE HAVE THE CONTROLS THAT THE DESKTOP JAVA FRAMEWORK
    MAY BE MAKING USE OF:
        .djf_top_toolbar: toolbar running the length of the top
        .djf_top_toolbar_pane: a pane in the top toolbar with buttons
        .djf_icon_button: buttons in the top toolbar panes
**/
.djf_top_toolbar {
    -fx-background-color:   -swatch-neutral;
    -fx-border-color:       -swatch-accent;
    -fx-border-width:       2;
    -fx-border-radius:      15;
    
}
.djf_toolbar_pane {
    -fx-background-color:   -swatch-complement;
    -fx-border-color:       -swatch-accent;
    -fx-border-width:       2;
    -fx-border-radius:      15;
}
.djf_icon_button {
    -fx-background-color:   transparent;
    -fx-pref-height:        42;
    -fx-pref-width:         42;
    -fx-min-height:         42;
    -fx-min-width:          42;
    -fx-padding:            0;
}

.djf_icon_button:hover {
    -fx-background-color: linear-gradient(-swatch-primary-down, -swatch-primary-up);    
}
.djf_welcome_banner {
    -fx-border-color:transparent;
    -fx-border-width:10;
}
.djf_welcome_header {
    -fx-font-size: 32pt;
    -fx-background-color: transparent;
}
.djf_welcome_recent_pane {
    -fx-padding: 20 20 20 20;
    -fx-background-color:transparent;
}
.djf_welcome_recent_button {
    -fx-font-size: 14pt;
    -fx-underline: true;
    -fx-text-fill: blue;
    -fx-background-color:transparent;
}
.djf_welcome_recent_button:hover {
    -fx-text-fill: magenta;
}
.djf_welcome_recent_button:pressed {
    -fx-text-fill: yellow;
}
.djf_welcome_new_pane {
    -fx-background-color:transparent;
}
.djf_welcome_new_button {
    -fx-font-size:20pt;
    -fx-background-color:transparent;
    -fx-border-width:2px;
    -fx-border-color:black;
    -fx-border-radius:15px;
}
.djf_welcome_new_button:hover{
    -fx-background-color:-swatch-primary;
}
.djf-welcome_new_button:pressed{
    -fx-background-color:-swatch-accent;
}


/**
    NEXT THE APP-SPECIFIC CONTROLS
**/


/**

     BACKGROUND PANE
**/
.goLogoLo_pane {
    -fx-background-color: rgb(153, 102, 255);   
    -fx-border-color: black;
    -fx-border-radius: 0;
    -fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);
      
}
.goLogoLo_box {
     -fx-background-color:rgb(204, 235, 255);
    -fx-border-color: black;
    -fx-border-radius: 0;
    -fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);
}

/**

     BACKGROUND PANE for LEFT PANE 
**/
.goLogoLo_left_box {
    -fx-background-color:rgb(204,204,204);
    -fx-border: 0 0 0 0;
    -fx-border-color: black;
    -fx-border-radius: 0;
    -fx-padding: 5 5 5 5;
    -fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);
  
  
}

/**

     css Pane for left side icon buttons in workspace
**/
.goLogoLo_icon_pane_box {
    -fx-background-color: rgb(26, 140, 255);
    -fx-border: 0 0 0 0;
    -fx-border-color: black;
    -fx-border-radius: 0;
    -fx-padding: 5 5 5 5;
    -fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);
   
}
/**

     css Pane for Right side  buttons in workspace
**/
.goLogoLo_right_icon_pane_box {
    -fx-background-color: rgb(26, 140, 255);
    -fx-border: 0 0 0 0;
    -fx-border-color: black;
    -fx-border-radius: 0;
    -fx-padding: 5 5 5 5;
    -fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);
}

/**

     BACKGROUND PANE for RIGHT PANE
**/
.goLogoLo_right_box {
    -fx-background-color: rgb(191, 191, 191);
    -fx-border: 1 1 0 0;
    -fx-border-color: black;
    -fx-border-radius: 0;
    -fx-padding: 10 10 10 10;
    -fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);
   
}
.logo_dialog_header {
    -fx-font-weight: bold;
    -fx-font-size: 18pt
}
.logo_dialog_button {
    -fx-min-width:150px;
    -fx-max-width:150px;
    -fx-min-height:50px;
    -fx-max-height:50px;
    -fx-font-weight: bold;
    -fx-font-size: 14pt;
}


.logo_dialog_text_field {
   
}
.logo_shape{
    -fx-background-color: rgb(255, 255, 255);
}
.logo_dialog_prompt {
    -fx-font-weight: bold;
    -fx-font-size: 14pt;
}
/* FOR DIALOGS */
.goLogoLo_dialog_grid {
    -fx-background-color: -swatch-primary;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}
.goLogoLo-pane {
    -fx-spacing: 3 3 3 3;
}

/**
MIDDLE PANE, WHITEBOARD SPACE FOR EDITING
**/
.goLogoLo_edit_pane, .goLogoLo_edit_box {
    -fx-background-color: rgb(255, 255, 255);
    -fx-border: 1 1 0 0;
    -fx-border-color: black;
    -fx-border-radius: 0;
    -fx-padding: 15 15 15 15;
    -fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);

    -fx-min-width:400px;
    -fx-max-width:1000px;
    -fx-min-height:50px;
    -fx-max-height:1000px; 

    
}
.goLogoLo-pane {
    -fx-spacing: 3 3 3 3;
}
/**
table/chart css
**/
.goLogoLo_table, .goLogoLo_column {
    -fx-font-size: 14pt;
     -fx-border-color:#ACACAC;
}

/**
css for icon buttons
 **/

.logo_icon_button{
     -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
}
.logo_icon_button {
    -fx-min-width:50px;
    -fx-max-width:50px;
    -fx-min-height:50px;
    -fx-max-height:50px;  
}

.logo_icon_button:pressed {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );    
    -fx-background-color:
        linear-gradient(#c9e0cd, #a9d0bd),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}
.logo_icon_button:hover {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );    
}


/**
css for combo box
 **/
.goLogoLo_combo_box {
   
    -fx-border-color:#ACACAC;
    -fx-font-size: 11pt;
    -fx-padding:5 5 5 5;
    -fx-border: 1 1 0 0;  
}

.goLogoLo_short_combo_box {
   
    -fx-border-color:#ACACAC;
    -fx-font-size: 11pt;
    -fx-padding:5 5 5 5;
    -fx-border: 1 1 0 0;  
      -fx-pref-width:100px;
}

.goLogoLo_long_combo_box {
   
    -fx-border-color:#ACACAC;
    -fx-font-size: 10pt;
    -fx-padding:5 5 5 5;
    -fx-border: 1 1 0 0; 
    -fx-pref-width:300px;
}

.goLogoLo_slider{
 
    -fx-padding:5 5 5 5;
  
}

.goLogoLo_regular_text{
    -fx-font-size: 10pt;
 
}
.goLogoLo_snap_text{
    -fx-font-size: 16pt;
 
}
.goLogoLo_title_text{
    -fx-font-size: 14pt;
  

}